<h1>School Classes</h1>


<%= form_for @school_class do |f|%>
    <%=f.label :Title%><br>
    <%=f.text_field :title%>
    <%=f.label :Roomnumber %><br><br>
    <%=f.text_field :room_number%>
    <%= f.submit %>
<% end %>

